@(message: String)

@main("Des toits en ville") {

  <md-content class="height100p">
    <div class = "float-right margin20 text-right paddingRight20 column large-12">
      <a href="/" class = "padding10 hvr-pop float-right">Accueil</a>
    </div>

    @*<div ng-controller="fileDownloader">*@
      @*<h2>*@
        @*<a download="calendar.ics" ng-href="{{url}}" class="column small-12">*@
          @*Télécharger les réservations à venir au format .ics*@
          @*<i class="fa fa-download"></i>*@
        @*</a>*@
      @*</h2>*@
    @*</div>*@

    <div data-ng-controller="backEndController" class="column small-12">
      <ul>
        <li ng-repeat="r in reservations  | orderBy : 'arrivalDate$1'">

          <h4>
            {{r.roomName$1}} du {{r.arrivalDate$1 | date: 'dd.MM.yyyy'}} au {{r.departureDate$1 | date: 'dd.MM.yyyy'}}
          </h4>

          Nombre de personnes : {{r.numberOfPersons$1}} <br>

          Lit d'appoint :
          <span ng-if="r.extraBed$1 == true">oui</span>
          <span ng-if="r.extraBed$1 != true">non</span> <br>

          Petit déjeuner :
          <span ng-if="r.extraBreakfast$1 == true">oui</span>
          <span ng-if="r.extraBreakfast$1 != true">non</span> <br>


          {{r.firstName$1}} {{r.name$1}}  {{r.phoneNumber$1}} {{r.email$1}}
        </li>
      </ul>
    </div>


    <div data-ng-controller="commentController">

      <h1 class="text-center column large-12">Commentaires</h1>
      <update-comments></update-comments>

    </div>

    <div class="column">
      <h1 class="text-center">Chambres</h1>
      <div class="searchContainer grid" data-ng-controller="roomController">
        <room-min-be ng-repeat="room in rooms"
                     class="column medium-6 float-left padding0"
                     ng-class="{'medium-12 height100p scrollAuto': changeRoom, 'medium-6': !changeRoom}">
        </room-min-be>
      </div>
    </div>

    <h1 class="text-center">Services</h1>
    <div class="searchContainer grid column" data-ng-controller="agreementController">
      <agreement-be ng-repeat="agreement in agreements"
                    ng-class="{'medium-12 height100p scrollAuto': changeAgreement, 'medium-6': !changeAgreement}"
                    class="column medium-6 float-left padding0">
      </agreement-be>
    </div>

    <div data-ng-controller="generalDescController">
      <h1>Descriptif général de la page d’accueil</h1>

      <p>
        Entourer le texte avec des balises &lt;p> pour faire des paragraphes. Par exemple : " 	&lt;p&gt;Un paragraphe 	&lt;/p&gt;"<br>
        Pour avoir du texte gras et en violet, entourer le texte comme ceci :  	"&lt;b class="textPrimColor"&gt;Texte gras et violet 	&lt;/b&gt;"<br>
        Les retours à la ligne ne sont pas pris en compte, il faut utiliser la balise &lt;br&gt;.
      </p>

      <form ng-submit="controller.update(desc)">
        <textarea rows="20" ng-model="desc" >
        </textarea>
        <input type="submit" value="Valider"> {{ controller.stateMessage }}
      </form>
    </div>

  </md-content>
}