@(message: String)

@main("Des toits en ville") {
  <md-content class="height100p">

    <div ng-controller="fileDownloader">
      <h2>
        <a download="calendar.ics" ng-href="{{url}}" class="column small-12">
          Télécharger les réservations à venir au format .ics
          <i class="fa fa-download"></i>
        </a>
      </h2>
    </div>

    <div data-ng-controller="backEndController" class="column small-12">
      <ul>
        <li ng-repeat="r in reservations  | orderBy : 'arrivalDate$1'">

          <h4>
            {{r.roomName$1}} du {{r.arrivalDate$1 | date: 'dd.MM.yyyy'}} au {{r.departureDate$1 | date: 'dd.MM.yyyy'}}
          </h4>

          Nombre de personnes : {{r.numberOfPersons$1}} <br>

          Lit d'appoint :
          <span ng-if="r.extraBed$1 == true">oui</span>
          <span ng-if="r.extraBed$1 != true">non</span> <br>

          Petit déjeuner :
          <span ng-if="r.extraBreakfast$1 == true">oui</span>
          <span ng-if="r.extraBreakfast$1 != true">non</span> <br>


          {{r.firstName$1}} {{r.name$1}}  {{r.phoneNumber$1}} {{r.email$1}}
        </li>
      </ul>
    </div>


    <div data-ng-controller="commentController">

      <h1 class="text-center">Commentaires</h1>
      <update-comments></update-comments>

    </div>

    <md-list>
      <md-list-item class="md-3-line" ng-repeat="comment in comments | limitTo: limit + 5 | filter: {isValidated: true}">
        <md-button class="md-fab primCol"><b>{{comment.userName[0]}}</b></md-button>
        <div class="md-list-item-text">
          <h4>Par <b class="textPrimColor">{{comment.userName}}</b> le <b class="textPrimColor">{{comment.date}}</b></h4>
          <p>{{comment.comment}}</p>
        </div>
        <div class="md-secondary">
          <i data-ng-repeat="star in [1, 2, 3, 4, 5]" class="fa fa-star" ng-class="{'textPrimColor': star <= comment.rate}"></i>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>


    <div class="column">
      <h1 class="text-center">Chambres</h1>
      <div class="searchContainer grid" data-ng-controller="roomController">
        <room-min-be ng-repeat="room in rooms"
                     class="column medium-6 float-left padding0"
                     ng-class="{'medium-12 height100p scrollAuto': changeRoom, 'medium-6': !changeRoom}">
        </room-min-be>
      </div>
    </div>

    <h1 class="text-center">Services</h1>
    <div class="searchContainer grid column" data-ng-controller="agreementController">
      <agreement-be ng-repeat="agreement in agreements"
                    ng-class="{'medium-12 height100p scrollAuto': changeAgreement, 'medium-6': !changeAgreement}"
                    class="column medium-6 float-left padding0">
      </agreement-be>
    </div>

    <form name="editRoom"
          ng-submit="changeRoom = false; directive.update(newRoom); room = newRoom" data-ng-show="changeRoom"
          class="column large-12 md-whiteframe-z1 padding20" ng-init="newRoom.id = room.id; newRoom.isAnApartment = room.isAnApartment">
      <h1>Modifier la chambre {{room.name}}</h1>
      <md-input-container class="column large-12 ">
      <label><b>Nom</b></label>
      <input ng-model="newRoom.name" ng-init="newRoom.name = room.name"/>
      </md-input-container>
      <md-input-container class="column large-12">
      <label><b>En-tête</b></label>
      <input ng-model="newRoom.header" ng-init="newRoom.header = room.header"/>
      </md-input-container>
      <md-input-container class="column large-12">
      <label><b>Description</b></label>
      <input ng-model="newRoom.presentation" ng-init="newRoom.presentation = room.presentation"/>
      </md-input-container>
      <md-input-container class="column large-12">
      <label><b>Prix</b></label>
      <input ng-model="newRoom.price" ng-init="newRoom.price = room.price"/>
      </md-input-container>
      <div class="column">
      <h1>Images</h1>
      <div class="column large-3">
      <img src="{{newRoom.images}}" ng-init="newRoom.images = room.images">
      </div>
      </div>
      <md-button type="submit" class="primCol">Valider</md-button>
    </form>

  </md-content>
}