@(message: String)

@main("Des toits en ville") {
 <div class=" height100p ng-cloak">

   @*<div id = "cookieHeadband"*@
       @*class = "column large-12 text-center"*@
       @*style=" background-color: #CBAC75;"*@
       @*ng-show = "hideCookie">*@
       @*En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de cookies pour réaliser des statistiques de visites.*@
           @*<a href="#/cookies">En savoir plus</a>*@
           @*<i class="fa fa-times pointer marginLeft10 absolute float-right"*@
           @*style="vertical-align: middle; line-height: inherit; z-index: 99"*@
           @*ng-click="hideCookie = true"> </i> *@
   @*</div>*@

     <md-toolbar class="absolute transparent zIndex4"> @*ng-class="{'marginTop30': !hideCookie}">*@
         <div>
             <div class = "float-right margin20 paddingRight20" hide-sm>

                 <a href="#/" class = "padding10 hvr-pop">Accueil</a>
                 <a href="#/tarifs" class = "padding10 hvr-pop">Tarifs</a>
                 <a href="#/contact" class = "padding10 textPrimColor pointer hvr-pop">Nous contacter</a>
                 <md-button class="md-fab md-mini primCol hvr-pop"
                            href="https://www.facebook.com/des.toits.en.ville/"
                            target="_blank">
                     <a href="https://www.facebook.com/des.toits.en.ville/"
                        class="fa fa-facebook textPrimColor hvr-icon-grow-rotate"
                        target="_blank">
                     </a>
                 </md-button>
             </div>

             <md-button class="md-fab md-mini primCol hvr-pop"
                         ng-if="$root.full"
                         ng-click="$root.full=false"
                         style="position: absolute; left: 49%;">
             <a class="fa fa-times textPrimColor hvr-icon-grow-rotate">
                 </a>
             </md-button>

             <room-nav data-ng-controller = "roomController"
                       style = "margin-top: 12px; margin-left: 12px;"
                       class = "zIndex4 float-left">
             </room-nav>
         </div>
     </md-toolbar>

     <md-button class="md-fab md-mini primCol hvr-pop show-for-small-only"
                href="https://www.facebook.com/des.toits.en.ville/"
                style="position: absolute; right: 10px; top: 10px;"
                target="_blank">
         <a href="https://www.facebook.com/des.toits.en.ville/"
         class="fa fa-facebook textPrimColor hvr-icon-grow-rotate"
         target="_blank">

         </a>
     </md-button>

     <md-content class="mainContainer parallax" ng-view="" id="mainContainer">
                 @*cookies="{{hideCookie}}"*@

     </md-content>


     <data-search-bar  id="searchBar" class="zIndex5 left0">

     </data-search-bar>


     <md-sidenav class="md-sidenav-left md-whiteframe-z2 slide-left "
                 style="background-color: #CBAC75;"
                 slide-left
                 md-component-id="left"
                 hide-gt-md>
         <md-button ng-click="directive.close()" class="md-primary primCol column small-8 small-offset-2" hide-gt-md>
             <b>Fermer le menu </b>
         </md-button>

         <a href="#/">
             <md-button ng-click="directive.close()" class="md-primary primCol column small-8 small-offset-2" hide-gt-md>
                 <b>Accueil</b>
             </md-button>
         </a>

    <md-toolbar style="line-height: 56px; margin-top:22px; background-color: #371439">
      <h1 class="md-toolbar-tools text-center"
      style = "display: block; line-height: inherit; vertical-align: middle !important; color: white;">
        NOS CHAMBRES
      </h1>
    </md-toolbar>

    <md-content layout-padding ng-controller = "roomController" style="background-color: #CBAC75;">

      <a href="#/rooms/{{room.id}}"
        class="column primCol md-button float-left small-10 small-offset-1"
        style="margin-bottom: -5px;"
        ng-click="directive.close()"
        data-ng-repeat="room in rooms | filter: { isAnApartment: false }">
        <b>{{room.name.replace("Chambre d'hôtes", "")}}</b>
      </a>

    </md-content>


    <md-toolbar style="line-height: 56px; background-color: #371439">
      <h1 class = "md-toolbar-tools text-center"
        style = "display: block; line-height: inherit; vertical-align: middle !important; color: white;">
        NOS APPARTEMENTS
      </h1>
    </md-toolbar>

    <md-content layout-padding ng-controller = "roomController" style="background-color: #CBAC75;">

      <a href="#/rooms/{{room.id}}"
        class="column primCol md-button float-left small-10 small-offset-1"
        style="margin-bottom: -5px;"
        ng-click="directive.close()"
        data-ng-repeat="room in rooms | filter: { isAnApartment: true }">
        <b>{{room.name.replace("Appartement", "")}}</b>
      </a>

    </md-content>

    <br>

    <a href="/#/contact" class = "column primCol md-button float-left small-8 small-offset-2" ng-click="directive.close()">
      <b>Infos pratiques</b>
    </a>

    <br>

    <a href="/#/mentionsLegales" class = "column primCol md-button float-left small-8 small-offset-2" ng-click="directive.close()">
      <b>Mentions légales</b>
    </a>

  </md-sidenav>
 </div>
}
