@(message: String)

@main("Des toits en ville") {
  <md-toolbar class="absolute transparent zIndex4">
    <div>
      <div class = "float-right margin20 paddingRight20" hide-sm>
        <a href="#/" class = "padding10">Accueil</a>
        <a href="#/contact" class = "padding10 textPrimColor pointer">Contact</a>
        <a href="/mentionsLegales" class = "padding10">Mentions légales</a>
        <md-button class="md-fab md-mini primCol" href="https://www.facebook.com/des.toits.en.ville/">
          <a href="https://www.facebook.com/des.toits.en.ville/"
            class="fa fa-facebook textPrimColor">
          </a>
        </md-button>
      </div>

      <room-nav data-ng-controller = "roomController" class="zIndex4 float-left"></room-nav>
    </div>
  </md-toolbar>

  <md-content flex class="height100p mainContainer absolute" ng-view="" id="mainContainer"></md-content>

  <data-search-bar class="zIndex5"></data-search-bar>

  <md-sidenav  class="md-sidenav-left md-whiteframe-z2" md-component-id="left" hide-gt-md>
    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">Nos chambres</h1>
    </md-toolbar>
    <md-content layout-padding ng-controller = "roomController">
      <md-button ng-click="directive.close()" class="md-primary slide-left" hide-gt-md>
        Fermer le menu
      </md-button>
      <a href="#/rooms/{{room.id}}" class="column primCol md-button float-left small-10"
      ng-click="directive.close()" data-ng-repeat="room in rooms">{{room.name}}</a>
      <a href="#/" class = "column primCol md-button float-left small-10">Accueil</a>
      <ng-contact class = "padding10 textPrimColor pointer">Contact</ng-contact>
      <a href="/mentionsLegales" class = "column primCol md-button float-left small-10">Mentions légales</a>
    </md-content>
    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">Nos appartements</h1>
    </md-toolbar>
  </md-sidenav>
}
