@import "../componentsSettings/foundation";
@import "tools";
@import "../../../bower_components/foundation/scss/normalize";
@import "../../../client/src/main/scala/Room/room";
@import "../../../client/src/main/scala/Slider/slider";
@import "../../../client/src/main/scala/RoomNav/roomNav";
@import "../../../client/src/main/scala/SearchBar/searchBar";
@import "../../../client/src/main/scala/Navigation/css3-animate-it-master/css/animations.css";
//@import "CaviarDreams.ttf";

@font-face {
  font-family: "CaviarDreams";
  src: url("fonts/CaviarDreams.ttf");
}

body, html {
  font-family: "CaviarDreams", sans-serif!important;
  background-color: white;
  background-size: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  font-family: "CaviarDreams", sans-serif!important;
}

md-input-container > label {
  font-size: 18px;
  font-weight: bold;
}


.mainWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  font-weight: bold;
  text-align: center;
}

.mainWrapper > * {
  flex: 1 100%;
}

.mainContainer {
  float: left;
  width: 100%;
}

//parallax//
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective-origin-x: 100%;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin-x: 100%;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-5px) scale(6.1);
}

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.homeArrow {
  width: 100%;
  top: 72%;
  font-weight: 800;
  text-align: center;
  color: $primary-color;
  transform: translateZ(-0.8px) scale(1.5);
}

.arrows {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 80px;
}

.arrows path {
  stroke: rgb(88, 16, 48);
  fill: transparent;
  stroke-width: 5px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari  Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari  Chrome */
}

.arrows path.a3 {
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari  Chrome */
}

.homeRoomTitle, .homeRoomTitle > h1 {
  width: 100%;
  top: 22%;
  font-size: 80px;
  text-align: center;
  font-weight: 800;
  color: $primary-color;
  transform: translateZ(-0.8px) scale(1);
}

.bookingTitle {
  text-align: center;
  color: $primary-color;
  font-family: "CaviarDreams", sans-serif!important;
}

.homeRoomTitle > p {
  letter-spacing: 1px;
  font-size: 68.5%;
}


.mainTitles {
  background-color: rgba(132, 91, 212, 0.39);
  font-weight: 800;
  padding: 20px;
}

.mainText, .mainText p {
  font-size: 26px;
  padding: 20px 50px;
  text-align: justify;
  //word-spacing: 14px;
}

.paddingSearchMin {
  margin-bottom: 48px;
  float: left;
  width: 100%;
}

@media (max-width: 600px) {
  .homeRoomTitle {
    right: auto;
    left: 0;
    top: 20px;
    text-align: center;
  }
  .paddingSearchMin {
    padding-bottom: 150px;
    float: left;
    width: 100%;
  }
  .bookingModal {
    max-height: 80%;
    overflow: auto;
    padding: 0px! important;
  }

}
 @media (max-width: 900px) {

   .parallax__layer--back {
     transform: translateZ(0) scale(1);
   }
 }

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: $primary-color;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 1.6s;
  transition-duration: 1.6s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center.animatedAtScroll:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}


.underlineHomeTitle {
  width:111px;
  height: 2px;
  margin-top: -20px;
}

///* Icon Grow Rotate */
//.hvr-icon-grow-rotate {
//  display: inline-block;
//  vertical-align: middle;
//  -webkit-transform: translateZ(0);
//  transform: translateZ(0);
//  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
//  -webkit-backface-visibility: hidden;
//  backface-visibility: hidden;
//  -moz-osx-font-smoothing: grayscale;
//  position: relative;
//  padding-right: 2.2em;
//  -webkit-transition-duration: 0.3s;
//  transition-duration: 0.3s;
//}
//.hvr-icon-grow-rotate:before {
//  content: "\f095";
//  position: absolute;
//  right: 1em;
//  padding: 0 1px;
//  font-family: FontAwesome;
//  -webkit-transform: translateZ(0);
//  transform: translateZ(0);
//  -webkit-transition-duration: 0.3s;
//  transition-duration: 0.3s;
//  -webkit-transition-property: transform;
//  transition-property: transform;
//  -webkit-transition-timing-function: ease-out;
//  transition-timing-function: ease-out;
//}
//.hvr-icon-grow-rotate:hover:before, .hvr-icon-grow-rotate:focus:before, .hvr-icon-grow-rotate:active:before {
//  -webkit-transform: scale(1.5) rotate(12deg);
//  transform: scale(1.5) rotate(12deg);
//}


/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}



/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}



.myTooltip {
  display: inline;
  background: #333;
  background: rgba(0,0,0,.8);
  border-radius: 5px;
  bottom: 26px;
  color: #fff;
  left: 20%;
  margin-bottom: 20px;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  @extend .large-2;
}

//Hide the spinner on number input
/* For Firefox */
input[type='number'] {
  -moz-appearance:textfield! important;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none!important;
  margin: 0;
}

.starColor {
  color: $warning-color;
}
