@import "../componentsSettings/foundation";
@import "tools";
@import "../../../bower_components/foundation/scss/normalize";
@import "../../../client/src/main/scala/Room/room";
@import "../../../client/src/main/scala/Slider/slider";
@import "../../../client/src/main/scala/RoomNav/roomNav";
@import "../../../client/src/main/scala/SearchBar/searchBar";

body, html {
  background-color: white;
  background-size: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

.mainContainer {
  float: left;
  width: 100%;
}

//parallax//
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective-origin-x: 100%;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin-x: 100%;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-5px) scale(6.1);
}

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.homeArrow {
  width: 100%;
  top: 72%;
  font-weight: 800;
  text-align: center;
  color: $primary-color;
  transform: translateZ(-0.8px) scale(1);
}

.arrows {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 80px;
}

.arrows path {
  stroke: rgb(88, 16, 48);
  fill: transparent;
  stroke-width: 3px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.homeRoomTitle, .homeRoomTitle > h1 {
  width: 100%;
  top: 22%;
  font-size: 80px;
  text-align: center;
  font-family: 'feathericons';
  font-weight: 800;
  color: $primary-color;
  transform: translateZ(-0.8px) scale(1);
}

.homeRoomTitle > p {
  letter-spacing: 1px;
  font-size: 68.5%;
}


.mainTitles {
  background-color: rgba(132, 91, 212, 0.39);
  font-weight: 800;
  font-family: 'feathericons';
  padding: 80px;
}
.mainText {
  font-size: 27px;
  padding: 20px 50px;
  font-family: 'feathericons';
  text-align: center;
}

.paddingSearchMin {
  padding-bottom: 48px;
  float: left;
  width: 100%;
}
@media (max-width: 600px) {
  .homeRoomTitle {
    right: auto;
    left: 0;
    top: 20px;
    text-align: center;
  }
  .paddingSearchMin {
    padding-bottom: 150px;
    float: left;
    width: 100%;
  }
  .bookingModal {
    max-height: 80%;
    overflow: auto;
    padding: 10px;
  }
}

