# Created by .ignore support plugin (hsz.mobi)
.idea_modules/
.idea/
.idea
.sass-cache/
bower_components/
client/target/
node_modules/
project/project/
project/target/
server/logs/
server/target/
shared/.js/
shared/.jvm/
target/
npm-debug.log
.idea/
.idea/workspace.xml
