<div class="column large-12 paddingLeft0">
    <form name="reservationForm">
        <div class = "column large-6 padding0 large-offset-1">
            <md-datepicker
                    ng-model="startDate"
                    name="startDate"
                    required
                    md-placeholder = "Date d'arrivée"
                    class = "transparent textColorWhite margin0 column large-6 float-left padding0">
            </md-datepicker>
            <md-datepicker
                    required
                    name="endDate"
                    ng-model="endDate"
                    md-placeholder = "Date de départ"
                    md-min-date="startDate"
                    class = "transparent textColorWhite margin0 column large-6 float-left padding0">
            </md-datepicker>
        </div>
       <md-button class = "column primCol large-2 float-left large-offset-1"
              ng-click="directive.search(startDate, endDate)">
            <b>Réserver maintenant !</b>
        </md-button>
    </form>
</div>

