.svg-wrapper {
  position: relative;
  //top: 50%;
  /*transform: translateY(-50%);*/
  margin: 0 auto;
  width: 280px;
  height: 50px;
}
.shape {
  stroke-dasharray: 90 650;
  stroke-dashoffset: -425;
  stroke-width: 8px;
  fill: transparent;
  stroke: $primary-color;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
  font-family: 'feathericons';
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 8px;
  color: #fff;
  top: -42px;
  position: relative;
  text-align: center;
}
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

md-fab-actions {
  left: 70px;
  top: 10px;
}