<div class="searchContainer grid float-left"
     ng-if = "controller.isWaitingAvailableRooms$2 != true"
     style="background-color: #CBAC75">
    <room-min ng-repeat="room in availableRooms" class="column large-6 float-left padding0">
    </room-min>

    <room-min ng-repeat="room in rooms" ng-init="isDisable = true"
              class="column large-6 float-left padding0">
    </room-min>

    <div class="column large-6">
        <div class="show-for-large-up" style="margin-top: 120px"></div>
        <h2>Une question ? N'hésitez pas à nous contacter</h2>

        <div class="column small-12 text-center">
            <md-button class="md-fab md-mini primCol"><i class="fa fa-phone"></i></md-button>
            <b>06 16 18 43 41</b>
        </div>

        <div class="column small-12 text-center">
            <md-button class="md-fab md-mini primCol"><i class="fa fa-envelope"></i></md-button>

            <b>des.toits.en.ville@gmail.com</b>
        </div>

        <div class="column small-12 text-center paddingTopWhenLarge">
            <md-button class="md-fab md-mini primCol" href="https://www.facebook.com/des.toits.en.ville/">
                <a
                        href="https://www.facebook.com/des.toits.en.ville/"
                        class="fa fa-facebook textPrimColor">
                </a>
            </md-button>
            <b>Ou visitez notre page Facebook</b>
        </div>
    </div>


    <div ng-show = "controller.isWaitingAvailableRooms$2">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h5 class="column large-12 center"><i class="column large-12 center">Nous recherchons les chambres disponibles.</i></h5>
        <md-progress-linear class = "column large-12" md-mode="indeterminate"></md-progress-linear>
    </div>

</div>

<div class="paddingTop50 width100p float-left"></div>




<!--<div class=hidden-for-medium-up" style="padding-bottom:100px; width: 100%; float: left;"></div>-->
