<!--<div class="">-->
    <slider class="parallax__layer parallax__layer--back" ng-controller="sliderController"></slider>
    <div class="absolute zIndex2 homeRoomTitle float-left">
        <div class="float-left column large-12" style="margin-bottom: -60px">BIENVENUE</div>
        <b class="animated hvr-underline-from-center underlineHomeTitle"
           animations-at-scroll
           style="transform: translateZ(0px) scale(1.75, 1.8);">
        </b>
        <p style="margin-top: -44px">aux toits en ville</p>
    </div>

    <smooth-scroll class="homeArrow">
        <svg class="arrows">
            <path class="a1" d="M0 0 L30 32 L60 0"></path>
            <path class="a2" d="M0 20 L30 52 L60 20"></path>
            <path class="a3" d="M0 40 L30 72 L60 40"></path>
        </svg>
    </smooth-scroll>

    <div class="slider-content width100p float-left parallax__layer parallax__layer--base zIndex3">
        <div class="white width100p float-left">
            <div class="column large-10 large-offset-1 mainText" id="firstDescriptionText">
                La maison d'hôtes <b class="textPrimColor">Des Toits en Ville</b> vous accueille dans la ville animée de <b class="textPrimColor">Villeurbanne</b>,
                à seulement 15 minutes du centre de <b class="textPrimColor">Lyon</b>. Agrémentée d'un <b class="textPrimColor">jardin</b>,
                elle sert chaque jour un <b class="textPrimColor">petit-déjeuner</b> continental.
            </div>
            <div class="column large-10 large-offset-1 mainText">
                Les hébergements <b class="textPrimColor">Des Toits en Ville</b> sont décorés avec élégance. Chacun dispose d'une
                <b class="textPrimColor">salle de bains privative</b>,
                d'une connexion <b class="textPrimColor">Wi-Fi</b> gratuite et d'une <b class="textPrimColor">télévision</b>.
                Certains comportent également un <b class="textPrimColor">lave-linge</b> ou une <b class="textPrimColor">terrasse meublée</b>.
                La cuisine des appartements est équipée de plaques de cuisson, d'un réfrigérateur et d'un four micro-ondes.
                Certaines sont pourvues d'un coin repas.
            </div>
            <div class="column large-10 large-offset-1 mainText float-left">
                La maison d'hôtes <b class="textPrimColor">Des Toits en Ville</b> est située à 4,4 km de la gare de <b class="textPrimColor">Lyon Part Dieu</b>
                et à 280 mètres de la station de <b class="textPrimColor">métro Cusset</b>. Vous trouverez un parking privé à proximité,
                accessible moyennant des frais supplémentaires.
            </div>
        </div>

        <div class="column large-12 text-center margin0 mainTitles">
            <h1 class="textColorWhite marginBottom0" style='font-family: "CaviarDreams", sans-serif!important;'>
                NOS CHAMBRES
            </h1>
            <b class="animated hvr-underline-from-center underlineHomeTitle" animations-at-scroll>
            </b>
        </div>

        <div class="width100p white float-left grid parallax__layer--base" data-ng-controller = "roomController">
            <room-min-home data-ng-repeat="room in rooms | filter: {isAnApartment: false}"
                           class="column medium-6 padding0 margin0">
            </room-min-home>
        </div>


        <div class="column large-12 text-center margin0 mainTitles">
            <h1 class="textColorWhite marginBottom0" style='font-family: "CaviarDreams", sans-serif!important;'>
                NOS APPARTEMENTS
            </h1>
            <b class="animated hvr-underline-from-center underlineHomeTitle" animations-at-scroll>
            </b>
        </div>

        <div class="width100p white float-left grid parallax__layer--base" data-ng-controller = "roomController">
            <room-min-home data-ng-repeat="room in rooms | filter: {isAnApartment: true}"
                           data-ng-class="{'medium-6': $index % 3 != 2, 'medium-12': $index % 3 == 2}"
                           class="column xlarge-4 padding0 margin0">
            </room-min-home>
        </div>


        <div class="column large-12 text-center margin0 mainTitles">
            <h1 class="textColorWhite marginBottom0" style='font-family: "CaviarDreams", sans-serif!important;'>
                NOS SERVICES
            </h1>
            <b class="animated hvr-underline-from-center underlineHomeTitle" animations-at-scroll>
            </b>
        </div>

        <div class="width100p white float-left grid column large-12 padding0 margin0" data-ng-controller="agreementController">
            <agreement class="column large-6 padding0 margin0 float-left" ng-repeat="agreement in agreements">
            </agreement>
        </div>


        <div class="column large-12 text-center margin0 mainTitles">
            <h1 class="textColorWhite marginBottom0" style='font-family: "CaviarDreams", sans-serif!important;'>
                LES AVIS
            </h1>
            <b class="animated hvr-underline-from-center underlineHomeTitle" animations-at-scroll>
            </b>
        </div>

        <ng-comments class="column large-12 float-left white padding0" ng-controller="commentController"></ng-comments>


        <div class="paddingSearchMin white">i</div>

    </div>
<!--</div>-->
